.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: irsans;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
  width: 70%;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
}

.titles {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.title2 {
  font-size: 2.5rem;
  color: #ffc451;
  font-weight: bold;
}

.title3 {
  margin: 10px 0 0 0;
  font-size: 24px;
}

@media only screen and (max-width: 1530px) {
  .titles {
    width: 70%;
  }
  .header{
    width: 100%;
  }
}




