.companies-wrapper{
    display: flex;
    padding: 2rem 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-wrap: wrap;
}

.logo-container{
    width: 116px;
    margin-left: 120px;
}

.company-logo{
    height: inherit;
    width: inherit;
    filter: grayscale(1);
    cursor: pointer;
}

.company-logo:hover{
    filter: grayscale(0);
}