.about{
    background-color: #fff;
    font-family: 'Roboto';
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.about-image{
    max-width: 50%;
    height: fit-content;
}

.about-title{
    padding: 0 1rem 0 3rem;
    text-align: justify;

    h3 {
        text-align: center;
        margin-top: 0;
    }
}