.about{
    background-color: #fff;
    font-family: 'Roboto' , sans-serif;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.about-image{
    max-width: 50%;
    height: fit-content;
    border-radius: .5rem;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.185);
}

.about-title{
    padding: 0 1rem 0 3rem;
    text-align: justify;

    h3 {
        text-align: center;
        margin-top: 0;
    }
}